// =============================================================================
// PAGE (CSS)
// =============================================================================


// override for Shogun's insistence on making empty DIVs display: inline-block!
.shogun-root .video-click-layer:empty {
    display: flex;
}

.video-click-layer {
    align-items: center;
    cursor: pointer;
    justify-content: center;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;

    &::after {
        background: #53BCEB url("../img/icon-play.svg") no-repeat 30px center;
        background-size: 15px;
        color: #fff;
        content: 'WATCH VIDEO';
        font-size: 18px;
        font-weight: bold;
        padding: 20px 30px 20px 60px;
        position: absolute;
    }
}

.gwh-hero-wrapper {

    & > div {

        & > div:nth-child(2) {
            align-self: end;
            margin-bottom: -2px;
        }
    }
}

.tlw {
    background: linear-gradient(0deg, rgba(52,113,156,1) 0%, rgba(22,47,72,1) 100%);
    padding: 80px 0;

    &__header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        h2 {
            color: #fff;
            font-size: 54px;
            margin: 0;
        }

        a {
            background: #53BCEB;
            color: #fff;
            display: block;
            font-size: 18px;
            font-weight: bold;
            padding: 20px 30px;

            &:hover {
                background: #0e3d71;
            }
        }
    }

    &__posts-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__posts-primary {
        width: 49%;
        
        .tlw__post {
            height: 100%;

            .tlw__wrapper-link {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
            
            .tlw__post-image {
                height: 100%;
        
                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
    
            .tlw__summary {
                @include truncate(2);
                color: #000;
                margin-bottom: 0;
            }
        }
    }

    &__posts-secondary {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 49%;
        
        .tlw__post {
            width: 48%;

            &:nth-child(1),
            &:nth-child(2) {
                margin-bottom: 15px;
            }

            &:nth-child(3),
            &:nth-child(4) {
                margin-top: 15px;
            }

            .tlw__post-image {

                img {
                    height: 230px;
                    object-fit: cover;
                }
            }
            
            .tlw__tag {
                font-size: 17px;
            }
            
            .tlw__title {
                font-size: 18px;
            }
        }
    }

    &__post {
        
        .tlw__wrapper-link {
            border: 1px solid #53BCEB;
            display: block;
        }
        
        .tlw__post-text {
            padding: 20px;
        }
        
        .tlw__tag {
            color: #53BCEB;
            font-size: 16px;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 10px;
            text-transform: uppercase;

            @include breakpoint("small") {
                font-size: 19px;
            }
        }
        
        .tlw__title {
            @include truncate(2);
            color: #fff;
            font-size: 20px;
            margin-bottom: 10px;
            line-height: normal;
            text-transform: uppercase;
        }
    }
}